__pycache__
/config/
/PyTorch-YOLOv3/
/weights/
/seiucchanvideo.mp4
/data/
/train/
chasca
seiucchan@chasca
/futsal-ball-img/
/futsal-ball-img_output/
/checkpoints_ball/
/checkpoints_ball_person/
*.json
/checkpoints_painted-default-img/